<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948278752115-vnuqsqvq6lnf78vt2jsg8k1c2bgbshps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948278752115-vnuqsqvq6lnf78vt2jsg8k1c2bgbshps</string>
	<key>API_KEY</key>
	<string>AIzaSyChFGoxWaxmPcG5JZRKB4LtwDQJiwTRj2c</string>
	<key>GCM_SENDER_ID</key>
	<string>948278752115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.TagmateAnalytics</string>
	<key>PROJECT_ID</key>
	<string>dharmikbhai-b3e37</string>
	<key>STORAGE_BUCKET</key>
	<string>dharmikbhai-b3e37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948278752115:ios:d59b95580b81c7cdde8b06</string>
</dict>
</plist>